body {
    background-color: black;
    color: gray;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#linked {
    font-family: Stencil Std, fantasy;
    display: block;
    text-indent: 15px;
    font-size: 15px;
}

table {
    margin-left: auto;
    margin-right: auto;
}

#lbl {
    font-family: Stencil Std, fantasy;
    font-size: 20px;
    color: gold;
}


/* unvisited link */

a:link {
    color: hotpink;
    text-decoration: none;
}


/* visited link */

a:visited {
    color: hotpink;
    text-decoration: none;
}


/* mouse over link */

a:hover {
    color: gold;
    text-decoration: none;
}


/* selected link */

a:active {
    color: gold;
    text-decoration: none;
}

p {
    text-align: center;
    font-size: 15px;
    color: hotpink;
    margin-left: 300px;
    margin-right: 300px;
}

h1 {
    text-align: center;
    color: hotpink;
}

iframe {
    display: block;
    margin: 0 auto;
}

#img4S {
    border: 1px solid transparent;
    border-color: gold;
}